
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background: linear-gradient(29deg, #CC9767 22%, #F5F5DD 58%);
}
html{
    scroll-behavior: smooth;
}
:root{
    --primary-color: #b5e7a0;
    --secondary-color: #86af49;
    --background-color: #d5e1df;
    --text-color: ;
    
}
a , button{
   transition: all 300ms ease; 
}
nav, .nav-links{
    display: flex;
}
nav{
    justify-content: space-around;
    height: 17vh;
    align-items: center;
    
}
.nav-links{
    list-style: none;
    gap: 2rem;
    color: black;
    font-size: 1.5rem;
}
a{
    color: black;
    text-decoration: none;
    text-decoration-color: aliceblue;
}
a:hover{
    color: rgba(206, 124, 0, 0.863);
    text-decoration: underline;
    text-underline-offset: 1rem;
}
.logo{
    font-size: 2rem;
    cursor: default;
}
/* section main*/

#main1{
   display: flex; 
   height: 90vh;
   min-height: fit-content;
   justify-content: center;
   align-items: center;
}
.profile-image img{
    border-radius: 50%;
    margin: 0 7rem;
    object-fit: cover;
}
.text{
    text-align: center
}
.btn-group{
    margin-top: 0.5rem ;
    gap: 3rem;
}
.btn-1{
    border-radius: 10px;
    padding: 5px 10px;
}

/* about */
#about{
    position: relative;
    height: 100vh;
    margin-top: 4rem;
    
}
#about p,h1{
    text-align: center;
    
}
.section-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-pic-container{
    height: 300px;
    width: 300px;
}

.section-pic-container img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.about-containers{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 40px 0;
}
.about-text{
    margin-top: 2rem;
}

 /*  Projects Section  */
#Projects{
    position: relative;
    min-height: 100vh;
}
.section-text{
    text-align: center;
}
.wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0px;
    
}
.color-container{
    background-color: #b18155;
    border-radius: 20px;
    overflow: hidden;
}
.artcle-container{
    height:270px ;
    width: 400px;
    
}
.artcle-container img{
    height: 90%;
    width: 85%;
    border-radius: 2rem;
    margin: 10px 25px;
}
.btn-container{
    display: inline-flex;
    margin:20px 80px ;
    justify-content: center;
    gap: 3rem;
    
}
.btn-1{
    margin-top: 20px;
    padding: 15px;
    background-color: azure;
    font-size: large;
    font-weight: 500;
    border: none;
    transition: 100ms ease;
    
    box-shadow: ;
}
.project-title{
    text-align: center;
    margin-top: 20px;
}
.btn-1:hover{
    cursor: pointer;
    background-color: #cc7d32;
    transform: scale(1.1);
}
#contact{
   min-height: 80vh;
   display: flex;
   align-items: center;
   
   /* justify-content: center; */
   flex-direction: column;
}

.contact-info-upper-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    border:1px solid #b18155;
    border-color: #F5F5DD;
    height: 100px;
    width: 700px;
    background-color: rgb(206, 129, 13);
    margin-top: 100px;
     transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.contact-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.5em ;
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(248, 232, 5, 0.582);
}
footer{
    margin-top: auto;
    margin-bottom: 30px;
 }

    
.nav-links-container{
    margin: 15px 0px;
    display: flex;
    justify-content: center;
    
 }
 footer p{
   text-align:center ; 
}
 
.nav-links-container a:hover{
    color: darkred;
}